<form class="form" name = "${name}">
  [repeat scope.elements, el]
      <div class="input-group">
        <span class="input-group-addon" style="min-width:${labelMinWidth}px">${el.label}</span>
        <input name="${el.var}" type="${el.type}" class="form-control[if el.type == "select"] select-trigger[endif]" [if el.type == "select"]readonly style="background-color:#fff"[endif] placeholder="${el.placeholder||el.label}" [if el.maxLength]maxlength="${el.maxLength}"[endif] [if el.min !== undefined]min="${el.min}"[endif] [if el.max !== undefined]max="${el.max}"[endif]>
        [if el.optional]
          <span class="validation-state-${el.var} input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
        [else]
          <span class="validation-state-${el.var} input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
        [endif]
        [if el.type == "select"]
          <button style="display:none" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
          <ul class="dropdown-menu" role="menu" tabindex='0' style="margin-left:${labelMinWidth}px">
            [repeat el.options,option]
            <li><a href="#">${option}</a></li>
            [endrepeat]
          </ul>
        [endif]
      </div>
    <div class="vspace"></div>
  [endrepeat]
</form>