a > p {
	color:black;
	word-wrap:break-word;
}
.pageObj{
	display: none;
}

#adminMenu, #rowSkapaInlagg, #applyAsStudent, #applyAsTeacher, #applyersStudents, #applyersTeachers{
	display: none;
}

.panel-default > .row{
	margin-bottom: 10px;
}

.removeBtnClass > button{
	margin-bottom: 5px;
}

.GoToEducation{
	font-size: 120%;
	color: #4646e6;
}

.removeEducation{
	color: red;
}

.passTeacherBtn > button:hover{
	background-color: green;
	border: 1px solid black;
}

.denyTeacherBtn > button:hover{
	background-color: red;
	border: 1px solid black;
}

.dropdown{
	margin-right: 0 !important;
}
.dropdown-toggle{
		background-color: black;
}
.dropdown-toggle:hover{
	border: 1px solid white;
}
