a > p {
	color:black;
	word-wrap:break-word;
}
.pageObj{
	display: none;
}

#adminMenu, #rowSkapaInlagg, #applyAsStudent, #applyAsTeacher{
	display: none;
}

.panel-default > .row{
	margin-bottom: 10px;
}

.removeBtnClass > button{
	margin-bottom: 5px;
}

.GoToEducation{
	font-size: 120%;
	color: blue;
}

.removeEducation{
	color: red;
}

.passTeacherBtn > button:hover{
	background-color: green;
	border: 1px solid black;
}

.denyTeacherBtn > button:hover{
	background-color: red;
	border: 1px solid black;
}

